.game-container {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.game-container .tab-container {
  width: 100%;
  display: flex;
}

.game-container .tab-container .tab {
  width: 33%;
  border: 1px solid red;
  height: 60px;
  position: relative;
}

.game-container .tab-container .tab-notification {
  position: absolute;
  right: calc(50% - 12px);
  top: 10px;
}

.game-container .tab-container .full-width-tabs {
  width: 100%;
}

.game-container .tab-container .tab-icon {
  height: 32px;
  width: 32px;
  margin: 5px;
}

.game-container .tab-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: white;
}

.chat-room {
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  position: relative;
}

.chat-input-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 5px;
}

.chat-input-container input {
  flex-grow: 1;
  max-width: none;
  height: 36px;
  font-size: 24px;
  padding: 4px 6px;
}

.chat-input-container .send-icon {
  height: 30px;
  width: 30px;
  flex-grow: 0;
  background-color: green;
  color: white;
  border-radius: 50%;
  margin-left: 5px;
}

.chat-room .my-message,
.chat-room .others-message {
  margin: 5px;
  display: flex;
}

.chat-room .my-message {
  flex-direction: row-reverse;
}

.chat-room .my-message .message-text {
  align-items: flex-end;
}

.chat-room .others-message .message-text {
  align-items: flex-start;
}

.message-text {
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.message-text .author-handle {
  font-weight: bold;
  margin-bottom: 5px;
}

/** 
 * Leave container styles
 */
.leave-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leave-container div {
  margin-bottom: 10px;
}

/**
 * Player container styles
 */
.players-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.player-list {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.player-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding-right: 20px;
}

.player-item .player-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.player-item .player-info .player-details {
  margin: 0 10px;
}

.incoming-call-notification {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: red;
  color: white;
}

.remote-video-container,
.local-video-container {
  position: absolute;
  bottom: 10px;
  width: 200px;
  height: 400px;
}

.local-video-container {
  right: 10px;
}

.remote-video-container {
  left: 10px;
}

.remote-video-container video,
.local-video-container video {
  width: 100%;
  height: 100%;
}

.local-video-container .hang-up-button {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px);
  width: 100px;
}
