@font-face {
  font-family: "GT Eesti Display";
  src: url("./fonts/hinted-subset-GTEestiDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "MG Maison Neue";
  src: url("./fonts/hinted-subset-MaisonNeue-Book.woff2") format("woff2"),
    url("./fonts/hinted-subset-MaisonNeue-Light.woff2") format("woff2"),
    url("./fonts/hinted-subset-MaisonNeue-Bold.woff2") format("woff2");
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "MG Maison Neue", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
